.header-inner {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-box {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-left: 60px;
}
.header-item-link {
  font-size: 18px;
  transition: all 0.5s linear;
}
.header-item-link.active {
  border-bottom: 2px solid #1b1b1b;
}
.headerend-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-end-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}